.test{	
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
        width:220px;
        height: 120px;
        background-color: #2F2F31;
}

.test h3{
	text-align: center;
	color: #FFF;
    height: 80px;
    position: relative;
    background-color: #D43A3A;
    margin-top: 0px;
    margin-bottom: 0px;


}
.test p{
		text-align: justify;

}
div#colonne1 {
    float: left;
    width: 250px;
    }

div#colonne2 {
    float: right;
    width: 250px;
    
}

div#colonne3 {
    float: center;
    width: 250px;
   }